@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
}

.cityBox{
  position: relative;
  display: inline-block;
}

.container {
  // display: flex;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: #7885ca;
}
.weather-item {
  display: flex;
  flex-wrap: nowrap;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(95, 92, 92, 0.24);
  max-height: 165px;
}

.weather-state {
  flex-basis: 25%;
}

.weather-info {
  align-items: center;
  flex-basis: 57%;
}

.weather-description {
  display: inline-block;
  word-wrap: break-word;
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: 0.9em;
  font-weight: 100;
  color: rgb(219, 210, 210);
  text-transform: capitalize;
}

.weather-weekday {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 60%;
  display: inline-block;
  word-wrap: break-word;
  align-items: center;
}

.weather-month {
  word-wrap: break-word;
  margin-top: 4%;
  margin-bottom: 4%;
  display: inline-block;
  width: 35%;
}

.weather-item:hover {
  background: #fcba03;
  border-radius: 10px;
}

.weather-temp {
  margin-top: 3%;
  margin-bottom: 4%;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.weather-state-icon {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
  margin-left: 30px;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 20px;
  position: relative;
}

.item-color {
  filter: invert(100%);
}

.weather-temp-day {
  position: relative;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  font-weight: 600;
}

.weather-temp-night {
  position: relative;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  font-weight: 600;
  margin-left: 15px;
}

.weather-color {
  background-color: #7480c3;
}

.input {
  border-radius: inherit;
  text-align: center;
  background-color: #7480c3;
  color: #ffffff;
  display: flex;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

input::placeholder {
  text-align: center;
  background-color: #7480c3;
  color: #ffffff;
  display: flex;
  width: 100%;
}

input:focus {
  outline: none;
  text-align: center;
  background-color: #7480c3;
  color: #ffffff;
  display: flex;
  width: 100%;
}

input[type="text"] {
  border-color: black;
  border-radius: 10px;
  font-size: large;
  text-align: center;
  background-color: #7480c3;
  color: #ffffff;
  display: flex;
  width: 100%;
}
